div.productList {
    display: flex;
    flex-direction: row;
}

div.product {
text-align: center;
font-size: 2em;
padding: 50px;
}

div.productDetail{
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 3em;
}