body {
    background-image: url(pokelandscape.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.big-container {
    background-color: #FFFCE7;
    height: 100vw;
}

.light-blue {
    background-color: #F1FDFF!important;
}